body {
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start + safe;
  align-items: stretch;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline; */
  flex-grow: 4;
  margin: 0em;
}

.navdiv {
  flex-grow: 0;
}

form div {
  margin: 0em;
  display: inline-block;
}

.mapContainer {
  position: absolute;
  flex-basis: auto;
  top: 76px;
  right: 0;
  height: 90%;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}
