body {
  font-family: sans-serif;
}

/* #app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start + safe;
  align-items: stretch;
} */

.key {
  position: absolute;
  background-color: whitesmoke;
  justify-content: flex-start;
  width: 15%;
  margin: 15px;
  font-family: Helvetica;
  border-radius: 4px;
  overflow: hidden;
}

.key-text {
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  /* display: inline; */
  flex-grow: 4;
  margin: 0em;
}

/* .navdiv {
  flex-grow: 0;
} */

form div {
  margin: 0em;
  display: inline-block;
}

.mapContainer {
  position: absolute;
  /* flex-basis: auto; */
  top: 76px;
  bottom: 0px;
  right: 0;
  width: 100%;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
}

.score {
  padding: 0;
  margin: 0;
  list-style: none;
}
.min {
  font-size: 12px;
  float: left;
  margin: 5px;
}
.max {
  font-size: 12px;
  float: right;
  margin: 5px;
}

.legend {
  display: table;
  width: 100%;
  overflow: hidden;
  height: 18px;
  border-radius: 3px;
}

.graph {
  display: table-row;
  width: 100%;
  height: 18px;
}

.continuous {
  height: 15px;
  background: linear-gradient(to right, red, yellow, green);
  margin: 0 10px 5px 10px;
  border-radius: 3px;
}

.prompt {
  font-size: 12px;
  text-align: center;
  margin: 5px;
  color: navy;
}
