.card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.building-info {
  display: flex;
  flex-direction: row;
}
.simulator {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.improvement-options {
  display: flex;
  flex-wrap: wrap;
}
.changed {
  color: #28a745;
}
